---
title: Stats
---

{{#extend "layout-a"}}
	{{#content "region-a"}}

	<!--
		Rough times for build
		* 1 - 1.5 hrs research and planning
		* 2-3 hrs building
	-->

	<div class="section-container section-container-style-a block block-size-a">
		<div class="page-title page-title-style-a">
			<h1 class="mega title-style-a">OS Audience Stats</h1>
		</div>

		<section class="section section-style-a">
			<header class="section-header">
				<div class="chart-container">
					<div class="chart-title">
						<h2 class="giga section-title">
							June<span>2015</span>
						</h2>
					</div>
					<ul class="list-unstyled chart">
						<li class="chart-stat chart-stat-style-a">
							<span class="visually-hidden">
								iOS - 21%
							</span>
						</li>
						<li class="chart-stat chart-stat-style-b">
							<span class="visually-hidden">
								Mac - 48%
							</span>
						</li>
						<li class="chart-stat chart-stat-style-c">
							<span class="visually-hidden">
								Linux - 9%
							</span>
						</li>
						<li class="chart-stat chart-stat-style-d">
							<span class="visually-hidden">
								Win - 32%
							</span>
						</li>
					</ul>
				</div>
			</header>
			<div class="section-body">
				<div class="stats-container">
					<article class="stats stats-style-a">
						<header class="stats-header">
							<h3 class="alpha stats-title">
								iOS
							</h3>
						</header>
						<div class="stats-body">
							<p class="stats-figure">
								21<small>%</small>
							</p>
						</div>
					</article>

					<article class="stats stats-style-b">
						<header class="stats-header">
							<h3 class="alpha stats-title">
								Mac
							</h3>
						</header>
						<div class="stats-body">
							<p class="stats-figure">
								48<small>%</small>
							</p>
						</div>
					</article>

					<article class="stats stats-style-c">
						<header class="stats-header">
							<h3 class="alpha stats-title">
								Linux
							</h3>
						</header>
						<div class="stats-body">
							<p class="stats-figure">
								9<small>%</small>
							</p>
						</div>
					</article>

					<article class="stats stats-style-d">
						<header class="stats-header">
							<h3 class="alpha stats-title">
								Win
							</h3>
						</header>
						<div class="stats-body">
							<p class="stats-figure">
								32<small>%</small>
							</p>
						</div>
					</article>
				</div>
			</div>
		</section>
	</div>

		<div class="block block-size-a form form-style-a">
			<form id="newsletter_form" name="newsletter_form" action="#" method="post">
				<div class="adjacent-controls adjacent-controls-single-input">
					<input type="text" class="input-size-a" placeholder="youremail@domain.com" />
					<button type="submit" class="btn btn-style-a btn-size-a">
						Signup for newsletter
					</button>
				</div>
			</form>
		</div>
	{{/content}}
{{/extend}}